body {
  margin: 0;
  padding: 0;
  height: 100vh;
  /* overflow: hidden; */
  font-family: Arial, sans-serif;
}





.search-box {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1000;
  background: white;
  border-radius: 8px;
  padding: 6px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
}

.search-icon {
  width: 20px;
  height: 20px;
  background-size: cover;
  filter: brightness(0) saturate(100%) invert(50%) sepia(0%) saturate(0%)
    hue-rotate(180deg) brightness(90%) contrast(90%);
  opacity: 0.6;
  transition: opacity 0.2s ease-in-out;
}

.search-input-floating {
  position: fixed;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  max-width: 400px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  padding: 10px 20px;
  z-index: 1000;
  display: flex;
  align-items: center;
}

.search-input {
  border: none;
  outline: none;
  font-size: 16px;
  flex-grow: 1;
  background: transparent;
}

.close-btn {
  background: none;
  border: none;
  font-size: 20px;
  margin-left: 10px;
  cursor: pointer;
}

.ms-1{
    margin-left: 10px;
}

@media screen and (min-width: 200px) and (max-width: 767px) {
  #map {
    padding: 0px;
    height: 100vh;
    touch-action: auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  #map {
    padding: 0px;
    height: 50vh;
    touch-action: auto;
  }
}
