<div>
  <link rel="stylesheet" href="app/view/tracking/tracking.css" />

  <!-- ใช้ wrapper ถ้าจำเป็น -->
  <div style="position: relative">
    <div id="map"></div>

    <div ng-controller="TrackingController">

      <!-- <div
        class="search-box"
        ng-show="!isSearching"
         ng-cloak ng-click="isSearching = true"
      >
        <img
          src="app/assets/icon/search.svg"
          alt="search"
          class="search-icon"
        />
      </div> -->

      <!-- input ลอยด้านบน -->
      <div class="search-input-floating" ng-show="isSearching">
        <img
          src="app/assets/icon/search.svg"
          alt="search"
          class="search-icon"
        />
        <input
          type="text"
          class="ms-1 search-input"
          placeholder="คุณจะไปที่ไหน"
          ng-model="searchQuery"
          autofocus
        />
        <button class="close-btn" ng-click="isSearching = false">×</button>
      </div>


<div class="paper-plane-container">
  <button class="paper-plane-box">
    <img
      src="app/assets/icon/paper-plane.svg"
      alt="paper-plane"
      class="paper-plane-icon"
      ng-click="gotoMyLocation()"
    />
  </button>
</div>
    </div>

    <!-- tracking-info ด้านล่าง -->
    <div ng-controller="TravelController">
      <div ng-include="'app/view/leyout/travel/travel.html'"></div>
    </div>
  </div>
</div>
