.tracking-info {
  padding: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  max-height: 60%;
  background: rgba(241, 239, 239, 0.8);
  border-radius: 20px 20px 0px 0px; 
  z-index: 999; 
transform: translateY(40%);
  transition: transform 0.3s ease;
}


.tracking-info.expanded {
  transform: translateY(0%);
}

.tracking-station-flex {
  border: none;
  background: none;
  box-shadow: none;
  padding: 8px 0;
}



/* แถบลาก */
.tracking-drag-handle {
  width: 40px;
  height: 5px;
  background: #ccc;
  border-radius: 5px;
  margin: 10px auto;
  cursor: grab;
}


.font-tt {
  font-size: 24px;
  font-weight: 600;
}

.font-sm {
  font-size: 14px;
  font-weight: 400;
  color: #555;
}

.tracking-station {
  padding: 10px;
  border: 1px solid #ccc;
  margin-top: 10px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.tracking-station-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  margin-top: 10px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.destination-box {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-shrink: 0; /* ป้องกันไม่ให้ถูกบีบ */
}

.destination-text {
  display: flex;
  flex-direction: column;
}

/* ป้องกัน station-box ยืดจนดันปลายทาง */
.station-box {
  padding: 6px 12px;
  border-radius: 6px;
  font-size: 12px;
  border: 2px solid transparent;
  border-radius: 20px;
  font-weight: bold;
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* สีตามสาย */
.border-pink {
  border-color: #ff69b4;
  background-color: #ff69b4;
  color: white;
}

.border-orange {
  border-color: orange;
  background-color: orange;
  color: white;
}

.border-green {
  border-color: #78d5b3;
  background-color: #78d5b3;
  color: white;
}

.tracking-station-img {
  width: 15px; /* ลดขนาดจาก 20px เป็น 12px */
  height: 15px;
  vertical-align: middle;
  margin-left: 8px;

  /* ทำให้เป็นสีเทา */
  filter: brightness(0) saturate(100%) invert(50%) sepia(0%) saturate(0%)
    hue-rotate(180deg) brightness(90%) contrast(90%);
  opacity: 0.6;
  transition: opacity 0.2s ease-in-out;
}

.tracking-station:hover img {
  opacity: 1;
}